*{margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #CBB57B;
}

ul{list-style: none;}

a{text-decoration: none;
    transition: all 0.2s ease-out; 
    }

a:visited{
    color: inherit;
}

/* barre volante */
nav{
    /* border: solid black 4px; */
    list-style: none;
    border-radius: 15px;
    height: 80px;
    margin: 20px;
    box-shadow:0 12px 6px rgb(0 0 0 / 30%) ;
    background-color: #ffffff;
    position: fixed;
    width: 97%;
    }



#navigation{
    /* border: solid fuchsia 4px; */
display: flex;
align-items: center;
justify-content: space-around;
padding: 1% 0%;
height: 50px;
font-size: 14px;}

#logo_bubble{width: 80px;}

.liste_navigation:hover, a:focus {color:#473630;
    text-decoration:underline;}

.liste_navigation {
    /* border: solid turquoise 4px; */
    width: 80px;
    font-size: 20px;
    padding: 10px 8px;
    }

.icon{width: 30px;}

.icon:hover, a:focus{color: #473630;
}

/* barre volante fin */

/* image derrière la barre */
header{background: no-repeat center/100% url(Images/insjoy181201014.png);
    height: 660px;
    margin: 0px !important;
    }
/* image derrière la barre */

/* intro */
#titre{
    /* border: solid fuchsia 4px; */
    height: fit-content;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 150px 90px;
    
}

#titre, h1{color: #473630;
    text-shadow: 0 12px 6px rgb(0 0 0 / 30%);
    font-size: 60px;}

/* formulaire */
.formulaire{
    background-color: white;
    height: 200px;
    width: 450px;
    padding: 24px;
    line-height: 20px;
    border: #473630 solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{font-size: small;
text-shadow: none;}

#nom, #city{
    width: 450px;
    height: 40px;
    padding: 19px 8px;
}

/* formulaire */

#sous_titre{font-size: 40px;
color:#473630;}

/* intro fin */

/* body */
.intro{display: flex; align-items:center; justify-content: space-around; margin: 100px;}

.intro img{box-shadow: 12px 12px 6px rgb(0 0 0 / 30%);}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
}

figcaption:hover{color: #473630;
text-decoration: underline;
transition: 0.4s ease-out;}


/* body fin */

/* footer */
footer{
    background-color: #473630;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 50px;
    }
 /*footer fin */ 